.contenedor{
    text-align: center;
    padding: 20px;
}

.productos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta{
    width: 250px;
    border: 1px solid gray;
    padding: 10px;
}

.tarjeta img{
    width: 100%;
    height: 250px;
}

.tarjeta button{
    padding: 8px;
    margin-top: 10px;
}